@import url(css/reset.css);*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}.clr{clear:both}fieldset{border:none;}#main{position:relative;z-index:2}.container{width:1294px;background:#3e4648;height:735px;margin:50px auto 0;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;box-shadow:12px 12px 10px #666;overflow:hidden;opacity:1!important}#signupForm{width:100%}#signupForm label.error{margin-left:10px;width:auto;display:inline}#desk .header a:hover{color:#ddd}.header a span{font-weight:700}.header span.right_ab{position:absolute;right:4px}.ib-top{background:0 0;position:fixed;top:0;left:0;width:100px;z-index:10;height:40px}.ib-top h1{color:#fff;font-size:16px;line-height:40px;padding:0 10px}.ib-top h1 span{color:#555;font-size:12px}#mast{position:relative;float:left;width:1234px;height:410px!important;margin:35px 0 0 5px;opacity:1;overflow:hidden}#donation-container{position:relative;}#showz{float:left;width:956px;height:538px!important;overflow:hidden}.ib-main-wrapper{float:left;height:410px!important;width:1234px !important;cursor:pointer !important;overflow:hidden;outline:0;-webkit-overflow-scrolling:touch}.ib-main{position:relative;width:2651px;z-index:2;;-webkit-overflow-scrolling:touch}.ib-main div.tyle{cursor:pointer !important;float:left;width:64px;height:71px;position:relative;overflow:hidden;margin:0 9px 9px 0;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.ib-main div.tyle.ib-loading,.ib-main div.tyle.ib-loading:hover{background:#fff url(images/ajax-loader.gif) no-repeat center center;background-size:31px 31px}.ib-main div.tyle.ib-loading img,.ib-main div.tyle.ib-loading:hover img{opacity:.5}.ib-main div.tyle.ib-loading>span,.ib-main>div.tyle.ib-loading>span{display:none}.ib-main div.tyle img{opacity:1;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.ib-main div.tyle.gloss img{opacity:1}.ib-main div.tyle span{display:block;position:absolute;width:100%;height:20px;line-height:22px;text-align:center;font-size:11px;bottom:-20px;left:0;z-index:5;text-shadow:1px 1px 1px rgba(0,0,0,.4);-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;transition:all .6s ease-in-out}#desk .ib-main div.tyle:hover img{opacity:1}#desk .ib-main div.tyle:hover{background-size:100% 100%}.ib-content{background:#f9f9f9}.ib-content .premium{font-size:11px;font-weight:400;height:31px;left:0;letter-spacing:.4px;position:absolute;text-align:center;top:13px;width:100%;z-index:10}.ib-content .ib-teaser{display:block;position:absolute;width:100%;height:20px;line-height:22px;text-align:center;bottom:-20px;left:0;z-index:5;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;transition:all .6s ease-in-out}#desk .ib-main div.tyle .ib-teaser{bottom:33px}.ib-teaser h2 span{text-transform:none;font-size:16px;font-family:Georgia,serif;font-style:italic;display:block}#desk .ib-content .ib-teaser:hover{opacity:.8}.ib-content-preview .ib-teaser span{padding:20px 0 0 5px;font-size:22px}.ib-preview img{position:absolute;z-index:10}.ib-nav span{width:53px;height:87px;position:absolute;top:50%;margin-top:-43px;cursor:pointer;text-indent:-9000px;opacity:.6;z-index:999;background:transparent url(images/nav.png) no-repeat top right;right:10px;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}.ib-nav span.ib-nav-prev{background-position:top left;left:10px;right:auto}#desk .ib-nav span:hover{opacity:1}.ib-loading-large{text-indent:-9000px;width:60px;height:60px;background:#fff url(images/ajax-loader.gif) no-repeat center center;position:absolute;top:50%;left:50%;margin:-30px 0 0 -30px;z-index:999;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;opacity:.9}#recents{position:absolute;right:31px;top:-522px;width:256px;height:488px;overflow:hidden;background:transparent url(images/recentgifts.png) no-repeat;z-index:2}#longrow .bkg{width:225px;height:550px;position:absolute;z-index:1;background:transparent url(images/graphic.png) no-repeat;right:-17px;top:-552px}#results,#results2{display:none;position:absolute;z-index:1000;font-size:16px;left:50%;margin-left:-445px;background:rgba(30, 48, 60, 0.7);top:0;width:890px;padding:0 0 30px;color:#fff;text-align:center;border:3px solid #4d616d;}input#searchTerm,input#searchTerm2{float:left;background-color:#fff452;text-transform:uppercase;text-align:center;color:#000;border-width:0;font-weight:bold;font-size:22px!important;height:36px;text-indent:12px;width:293px}.brownGradRight{float:left;background:yellow;cursor:pointer;height:36px;text-align:center;width:32px;margin:0;padding:0}#searchArrow,#searchArrow2{background:#fff452 url(images/magnify.jpg) no-repeat center center;}.ib-main div.tyle.zigzag {margin-top:-36px;}.ib-main div.tyle.zigzag.frontz {margin-top:0;}.ib-main div.tyle.staticz.frontz{margin-top:36px;}.ib-main div.tyle.staticz{margin-top:0;}form.cmxform fieldset{margin-bottom:10px}form.cmxform legend{padding:0 2px;font-weight:700;_margin:0 -7px}form.cmxform label{display:inline-block;line-height:2.6;vertical-align:top;cursor:hand}form.cmxform #mix5 span.civil{width:169px;display:inline-block}form.cmxform fieldset p{list-style:none;margin:0}form.cmxform fieldset fieldset{border:0;margin:3px 0 0}form.cmxform fieldset fieldset legend{padding:0 0 5px;font-weight:400}form.cmxform fieldset fieldset label{display:block;width:auto}#donation-container a.thprev{position:relative;display:block;width:107px;height:14px}.colLeft{float:left;}.padex{padding:12px 0}.arrowCentered,.arrowCentered2{cursor:pointer;display:block;font-size:16px;height:32px;line-height:32px;text-align:center;width:32px}.colourBar{position:relative;width:240px;overflow:hidden}#mix4 .colourBar{width:231px;height:21px;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.colourBar ul li{cursor:pointer;float:left !important;padding:0 !important;height:47px;width:47px;margin: 0 10px 10px 0 !important;}.colourBar ul li a{list-style:none;text-decoration:none;display:block;height:47px;width:47px}#mix4 .colourBar ul li,#mix4 .colourBar ul li a{height:21px;width:33px}.colour01{background-color:#e81f83}.colour02{background-color:#e87058}.colour03{background-color:#e8c037}.colour04{background-color:#74b26b}.colour05{background-color:#00a49e}.colour06{background-color:#177a8f}.colour07{background-color:#2e4f80}form.cmxform #mix1 label.error{display:block}#mix1 .custoheight{height:116px;clear:both}textarea{resize:none;width:259px;height:118px;padding: 6px;color:#fff;background:rgba(8, 148, 171, 0.85)}#mix4 textarea{width:231px;height:70px}#mix4 .arrowCentered.colLeft,#mix4 .colLeft.animals,.arrowCentered.colLeft,.colLeft.animals{margin:0}::-webkit-input-placeholder {color: #fff;opacity: 1;}:-moz-placeholder {color: #fff;opacity: 1;}::-moz-placeholder {color: #fff;opacity: 1;}:-ms-input-placeholder{color: #fff;opacity: 1;}[placeholder]:focus::-webkit-input-placeholder {color: #000;}[placeholder]:focus:-moz-placeholder {color: #000;}[placeholder]:focus::-moz-placeholder{color: #000;}[placeholder]:focus:-ms-input-placeholder{color: #000;}textarea:-moz-placeholder {font-weight:bold;color: #fff;}textarea::-moz-placeholder {font-weight:bold;color: #fff;}textarea:-ms-input-placeholder{font-weight:bold;color: #fff;}form.cmxform .animals a{display:block;width:77px;height:60px;text-decoration:none}form.cmxform #mix4 .animals{height:39px;line-height:39px;text-align:center}.animals ul li{padding:0 !important;cursor: pointer;float: left !important;height: 46px;margin: 0 10px 10px 0 !important;width: 46px;} .animals a{display:block;width:46px;height:46px;text-decoration:none}.animalIcon01{background:#0893ab url(images/icon1.png) no-repeat}.animalIcon02{background:#0893ab url(images/icon2.png) no-repeat}.animalIcon03{background:#0893ab url(images/icon3.png) no-repeat}.animalIcon04{background:#0893ab url(images/icon4.png) no-repeat}.animalIcon05{background:#0893ab url(images/icon5.png) no-repeat}.animalIcon06{background:#0893ab url(images/icon6.png) no-repeat}.animalIcon07{background:#0893ab url(images/icon7.png) no-repeat}.animalIcon08{background:#0893ab url(images/icon8.png) no-repeat}.animalIcon09{background:#0893ab url(images/icon9.png) no-repeat}.animalIcon10{background:#0893ab url(images/icon10.png) no-repeat}.animalIcon11{background:#0893ab url(images/icon11.png) no-repeat}.animalIcon12{background:#0893ab url(images/icon12.png) no-repeat}.animalIcon13{background:#0893ab url(images/icon13.png) no-repeat}.animalIcon14{background:#0893ab url(images/icon14.png) no-repeat}.animalIcon15{background:#0893ab url(images/icon15.png) no-repeat}#giftholders .pattern1,#mix4 .animalIcon01{background:transparent url(images/mini/icon1.png) no-repeat}#giftholders .pattern2,#mix4 .animalIcon02{background:transparent url(images/mini/icon2.png) no-repeat}#giftholders .pattern3,#mix4 .animalIcon03{background:transparent url(images/mini/icon3.png) no-repeat}#giftholders .pattern4,#mix4 .animalIcon04{background:transparent url(images/mini/icon4.png) no-repeat}#giftholders .pattern5,#mix4 .animalIcon05{background:transparent url(images/mini/icon5.png) no-repeat}#giftholders .pattern6,#mix4 .animalIcon06{background:transparent url(images/mini/icon6.png) no-repeat}#giftholders .pattern7,#mix4 .animalIcon07{background:transparent url(images/mini/icon7.png) no-repeat}#giftholders .pattern8,#mix4 .animalIcon08{background:transparent url(images/mini/icon8.png) no-repeat}#giftholders .pattern9,#mix4 .animalIcon09{background:transparent url(images/mini/icon9.png) no-repeat}#giftholders .pattern10,#mix4 .animalIcon10{background:transparent url(images/mini/icon10.png) no-repeat}#giftholders .pattern11,#mix4 .animalIcon11{background:transparent url(images/mini/icon11.png) no-repeat}#giftholders .pattern12,#mix4 .animalIcon12{background:transparent url(images/mini/icon12.png) no-repeat}#giftholders .pattern13,#mix4 .animalIcon13{background:transparent url(images/mini/icon13.png) no-repeat}#giftholders .pattern14,#mix4 .animalIcon14{background:transparent url(images/mini/icon14.png) no-repeat}#giftholders .pattern15,#mix4 .animalIcon15{background:transparent url(images/mini/icon15.png) no-repeat}#donation-container #mix4 .animalIconBar .arrowCentered.imgprv{background:transparent url(images/left_arrow_small.png) no-repeat;margin-right:2px}.animalIconBar{width:285px;margin-right:75px;}.crner{border:2px solid #fff452;}span.xtile{display:none!important}form.cmxform h1{padding:34px 0 38px;font-size:18px;text-transform:none;font-weight:700}form.cmxform label{width:auto;padding-right:10px}form.cmxform .colLeft input{width:240px;font-size:16px;padding:8px 0}form.cmxform#signupForm .clear{clear:both}form.cmxform#signupForm input[type=checkbox]{width:24px}form.cmxform fieldset fieldset{background:0 0}form.cmxform fieldset fieldset,form.cmxform fieldset p{padding:5px 10px 7px}form.cmxform label.error,label.error{color:red;font-style:italic}div.error{display:none}input,select{border:1px solid #097484;background:#8ca0a1}input.checkbox{border:0}input:focus{border:1px solid #097484}input.error{border:1px solid red}form.cmxform .gray *{color:gray}#donation-container a{outline:0}#donation-container #dbar{width:100%;height:63px;background:#485e63}#donation-container ul{list-style: none !important;margin:0 !important;}#donation-container #buildgift,#donation-container #buildtile{float:left;margin-right:35px}#donation-container #buildtile{width:274px;height:63px;margin-bottom:110px;background:transparent url(images/buildyourtile.png) no-repeat}#donation-container #buildtile a{display:block;width:274px;height:63px}#donation-container #buildgift{width:273px;height:63px;background:transparent url(images/buildgifttiles.png) no-repeat}#donation-container #buildgift a{display:block;width:273px;height:63px}#donation-container .tileB{float:left;position:relative;margin-right:40px}#donation-container #ironmask{background:0 0;height:34px;left:0;position:absolute;top:34px;width:400px;z-index:3}#donation-container select#amvary{float:left;margin-right:12px;font-size:18px;font-weight:400}#donation-container select#amvary1{font-size:18px;font-weight:400}#donation-container .input1.tuts,#donation-container input#mero,form.cmxform .colLeft .input1.tuts input{font-size:24px;font-weight:700;color:#A9C3C4;padding:0}#donation-container .hrbar{padding-top:0;margin-top:32px;clear:both;}#donation-container .hrbar .colLeft{margin:0}#donation-container .hrbar .padex{padding:18px 0 24px}#donation-container .hrbar .colLeft.couleur{margin:0 30px 8px 0}#donation-container #mix4 #bilan{position:absolute;z-index:1;right:193px;top:20px;width:283px;overflow:hidden;font-size:44px;font-weight:700}#donation-container #mix5 #totbilan{position:absolute;z-index:1;left:198px;top:32px;width:283px;overflow:hidden;font-size:24px;font-weight:700}#donation-container #mix4 #ironw{height:52px;position:absolute;right:0;top:0;width:148px;z-index:2;background:0 0}#donation-container #mix4 .mix4quan{position:absolute;z-index:2;left:300px;top:20px}#donation-container #next0{background:transparent url(images/rightarrow.png) no-repeat;margin-left:18px}#donation-container #prev0{background:transparent url(images/left_arrow.png) no-repeat;margin-right:12px}#donaterow #turtle{position:absolute;z-index:1;width:810px;top:-528px;left:-6px;height:612px;background:transparent url(images/turtle.png) no-repeat}#recents #giftholders table{border-collapse:collapse;border-spacing:.5rem}#recents #giftholders table td{vertical-align:middle;padding:0}#recents #giftholders span.rct{width:47px;height:39px;display:inline-block}#recents #giftholders span.credo{display:inline-block;text-transform:uppercase;color:#00b1cd;font-size:18px;font-weight:700;width:182px;margin-left:14px}#recents #giftholders .rotator{position:relative;margin-bottom:40px}#recents #giftholders .rotie{display:none;padding-bottom:10px;height:430px;overflow:hidden}#bilan span#enonce{font-size:16px;padding:6px 26px 0 0;vertical-align:top;display:inline-block}#footer{width:1300px;margin:30px auto 0;clear:both}#footer #socials{float:right}#footer #socials ul{list-style-type:none;margin:0;padding:0}#footer #socials ul li{float:left}#footer #socials a{display:inline-block;width:56px;height:56px;outline:0;margin-left:14px}#footer #socials a#facebook{background:url(images/facebook-logo-square.png) no-repeat}#footer #socials a#twitter{background:url(images/twitter-logo-square.png) no-repeat}.ui-widget-overlay{opacity:.6;background:#485E63}@-webkit-keyframes push{50%{-webkit-transform:scale(0.8);transform:scale(0.8)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes push{50%{-webkit-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8)}100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}.push{display:inline-block;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0)}.push:hover{-webkit-animation-name:push;animation-name:push;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:1;animation-iteration-count:1}div.facebook .pp_description{position:absolute;width:100%;text-align:center;color:#3E3F41;line-height:22px;font-size:11px;letter-spacing:.4px;left:0;bottom:33px;height:20px;font-family:"Arial Bold",Helvetica,sans-serif;text-transform:uppercase;font-weight:400}button#finalie{display:block;cursor:pointer;margin-top:15px;width:389px;height:36px;background:url(images/submit_payment.png) no-repeat;text-indent:-2000px;font-size:0;border:0}@media only screen and (min-width :320px) and (max-width :1024px){.container{overflow:visible}}
#results2{width:86%;margin-left:-43%;}
#faq-container{padding:4px 16px;font-size:13px;text-transform: none;}#faq-container h1{ background-color: #20717B;font-size: 18px;font-weight: bold;margin: 14px 0;min-width: 255px;padding: 10px 2%;position: relative;
width: 97%;}.ts-wrapper{position:relative;width:350px;height:350px;margin:0 auto;}
#faq-container h2{color: #8E8C80;font: 15px "Arial Black",arial,sans-serif;margin:0 0 10px;}#faq-container a{color: #00B2CD;}#faq-container p{font-weight:normal !important;font-size: 13px;line-height: 125%;margin-top: 5px;}
.faqClose{ background-color: #005A69;border-radius: 16px;cursor: pointer;height: 30px;position: absolute;right: 2%;top:4px;width: 30px;}
.faqClose div{color: #C4C6BF;display: block;font: lighter 30px/32px arial,sans-serif;text-align: center;}.fqLeft{float:left;margin-left:12px;}
.clozy a{color:#000;} .clozy .pp_close {text-indent:inherit;background: none !important;cursor: pointer;right:inherit;top:inherit;height: auto !important;width: 100px !important;position:absolute;left:50%;margin-left:-36px;width:100px;bottom:0;color:#000;z-index: 5000000;}

div.honor {padding-top:11px;font-weight: normal;font-size:13px;margin-left:25px;color:#26343d;text-transform:none;}div.categz{text-transform:uppercase;font-size:10px;font-family: "Swiss721BT-Black";padding:0 0 6px;color:#313e47;margin-left:25px;}div.ts-dates{color:#313e47;margin-left:25px;float:left;clear:left;font-weight: normal;}div.ts-city{font-weight: normal;color:#313e47;float:right;margin-right: 20px;text-transform: none;}
.ib-teaser{width:350px;text-align:left;margin:0 auto;}a#jpfaq{display:block;margin-top:16px;height:inherit !important;color:#666;font-size:18px;}#inline-8,#faq-container{background:#26343D;color:#fff;width:500px;height:300px;overflow:auto;}
#tile-donate-btn{width:128px;height:143px;position:absolute;z-index: 10;background-color: #00b1cc;top:0;left:593px;text-align:center;}
#tile-donate-btn a{display:block;width:128px;height:143px;color:#fff;text-transform: uppercase;font-weight: bold;padding-top: 47px;font-size: 24px;line-height: 30px;}
.ib-content-preview .ib-teaser h2 {max-height:45px; overflow: hidden;padding-right:20px;}
.ib-teaser h2{font-size:11px;line-height:22px;color:#3e3f41;letter-spacing:-0.2px}
.ib-content-full p{padding:10px 13px 8px 21px;margin-left:5px;font-size:13px;line-height:16px;color:#000;text-align:left;font-weight:400;}.ib-preview{overflow:hidden;position:absolute;top:40px;display:none}.ib-preview-descr{position:absolute;bottom:30px;left:10px;z-index:999;font-size:50px;text-shadow:1px 0 2px rgba(0,0,0,.2)}
a.sharefb{background:url(images/icons/icon-fb.png) no-repeat;padding:0px 10px;width:7px;height:14px;display: inline-block;}
a.sharetwt{background:url(images/icons/icon-twt.png) no-repeat;width:16px;height:13px;display: inline-block;}
.socialz{position:absolute;z-index:2;clear: both;width: 100%;bottom:4px;left:0;}
.allgift{float:left;text-transform:none;width:145px;line-height:16px;margin:-15px 0 0 25px;text-align:left;color:#4b5e62;font-size:12px;}
.iconz {float:right;margin-right:20px;}
.ib-content-full{position:relative;clear:both;text-align:center;width:350px;margin:0 auto;display:none;text-transform:none;line-height:26px;font-size:20px;color:#fff;padding-top:13px}
.ib-content-preview .ib-teaser h2{text-transform:uppercase;font-size:22px;font-weight:bold;margin-left:24px;color:#00b1cc;padding-top:3px;}
.tyle .iconz{opacity:0;}
.headerList {width:100%;padding:20px 0;font-weight:bold;background-color: #192a37;text-transform:uppercase;}
ul#newList {width:87%;margin: 10px auto 0;list-style:none;display:block;padding:0;}ul#newList li {line-height: 28px;margin:0;float:none;}ul#newList a {color:#DDD;}ul#newList a:hover{color:#fff452;}.noresults {margin-top:30px;font-size:21px;font-weight:bold;line-height: 24px;}
#footer .main.clearfix{display:none;}#tilePreview a:hover{color:#000;}
ul#newList2 {width:87%;margin: 10px auto 0;list-style:none;display:block;padding:0;}ul#newList2 li {line-height: 28px;margin:0;float:none;}ul#newList2 a {color:#DDD;}ul#newList a:hover{color:#fff452;}.noresults {margin-top:30px;font-size:21px;font-weight:bold;line-height: 24px;}

.friend1,.friend2,.friend3,.friend4,.friend5,.friend6,.friend7,.friend8,.friend9,.friend10,.friend11,.friend12,.friend13,.friend14,.friend15{background:transparent url(images/tiles/friend1.png) no-repeat}
.supporter1{background:transparent url(images/tiles/supporter1.png) no-repeat}
.supporter2{background:transparent url(images/tiles/supporter2.png) no-repeat}
.supporter3{background:transparent url(images/tiles/supporter3.png) no-repeat}
.supporter4{background:transparent url(images/tiles/supporter4.png) no-repeat}
.supporter5{background:transparent url(images/tiles/supporter5.png) no-repeat}
.supporter6{background:transparent url(images/tiles/supporter6.png) no-repeat}
.supporter7{background:transparent url(images/tiles/supporter7.png) no-repeat}
.supporter8{background:transparent url(images/tiles/supporter8.png) no-repeat}
.supporter9{background:transparent url(images/tiles/supporter9.png) no-repeat}
.supporter10{background:transparent url(images/tiles/supporter10.png) no-repeat}
.supporter11{background:transparent url(images/tiles/supporter11.png) no-repeat}
.supporter12{background:transparent url(images/tiles/supporter12.png) no-repeat}
.supporter13{background:transparent url(images/tiles/supporter13.png) no-repeat}
.supporter14{background:transparent url(images/tiles/supporter14.png) no-repeat}
.supporter15{background:transparent url(images/tiles/supporter15.png) no-repeat}
.transformer1{background:transparent url(images/tiles/transformer1.png) no-repeat}
.transformer2{background:transparent url(images/tiles/transformer2.png) no-repeat}
.transformer3{background:transparent url(images/tiles/transformer3.png) no-repeat}
.transformer4{background:transparent url(images/tiles/transformer4.png) no-repeat}
.transformer5{background:transparent url(images/tiles/transformer5.png) no-repeat}
.transformer6{background:transparent url(images/tiles/transformer6.png) no-repeat}
.transformer7{background:transparent url(images/tiles/transformer7.png) no-repeat}
.transformer8{background:transparent url(images/tiles/transformer8.png) no-repeat}
.transformer9{background:transparent url(images/tiles/transformer9.png) no-repeat}
.transformer10{background:transparent url(images/tiles/transformer10.png) no-repeat}
.transformer11{background:transparent url(images/tiles/transformer11.png) no-repeat}
.transformer12{background:transparent url(images/tiles/transformer12.png) no-repeat}
.transformer13{background:transparent url(images/tiles/transformer13.png) no-repeat}
.transformer14{background:transparent url(images/tiles/transformer14.png) no-repeat}
.transformer15{background:transparent url(images/tiles/transformer15.png) no-repeat}
#explore-further-find-out,#explore-further-donate{}
.lrner {background-color: #fff452;background-position: 0 -46px;}
.ib-content-preview{height: 350px !important;left: 50% !important;margin-left: -175px;position: absolute;top: 50px !important;width: 350px !important;z-index: 10000;display:none;}
.tyle.ib-content div {text-indent:-1000px;opacity:0;font-size:0;}
span.ib-close{display:none !important;opacity:0;}
#ib-content-preview[rel="anmbg1"],#WrpopupPrev[rel="anmbg1"]{background:#ccc url(images/popup/1.png) no-repeat center center}
#ib-content-preview[rel="anmbg2"],#WrpopupPrev[rel="anmbg2"]{background:#ccc url(images/popup/2.png) no-repeat center center}
#ib-content-preview[rel="anmbg3"],#WrpopupPrev[rel="anmbg3"]{background:#ccc url(images/popup/3.png) no-repeat center center}
#ib-content-preview[rel="anmbg4"],#WrpopupPrev[rel="anmbg4"]{background:#ccc url(images/popup/4.png) no-repeat center center}
#ib-content-preview[rel="anmbg5"],#WrpopupPrev[rel="anmbg5"]{background:#ccc url(images/popup/5.png) no-repeat center center}
#ib-content-preview[rel="anmbg6"],#WrpopupPrev[rel="anmbg6"]{background:#ccc url(images/popup/6.png) no-repeat center center}
#ib-content-preview[rel="anmbg7"],#WrpopupPrev[rel="anmbg7"]{background:#ccc url(images/popup/7.png) no-repeat center center}
#ib-content-preview[rel="anmbg8"],#WrpopupPrev[rel="anmbg8"]{background:#ccc url(images/popup/8.png) no-repeat center center}
#ib-content-preview[rel="anmbg9"],#WrpopupPrev[rel="anmbg9"]{background:#ccc url(images/popup/9.png) no-repeat center center}
#ib-content-preview[rel="anmbg10"],#WrpopupPrev[rel="anmbg10"]{background:#ccc url(images/popup/10.png) no-repeat center center}
#ib-content-preview[rel="anmbg11"],#WrpopupPrev[rel="anmbg11"]{background:#ccc url(images/popup/11.png) no-repeat center center}
#ib-content-preview[rel="anmbg12"],#WrpopupPrev[rel="anmbg12"]{background:#ccc url(images/popup/12.png) no-repeat center center}
#ib-content-preview[rel="anmbg13"],#WrpopupPrev[rel="anmbg13"]{background:#ccc url(images/popup/13.png) no-repeat center center}
#ib-content-preview[rel="anmbg14"],#WrpopupPrev[rel="anmbg14"]{background:#ccc url(images/popup/14.png) no-repeat center center}
#ib-content-preview[rel="anmbg15"],#WrpopupPrev[rel="anmbg15"]{background:#ccc url(images/popup/15.png) no-repeat center center}
h2.titleTops{color: #FFF;display: block;font-size: 36px;text-transform: uppercase;left: 50%;letter-spacing: 1px;margin-top: -54px;line-height: 24px;position: absolute;text-align: center;top: 12px;width: 940px;}
h2.titleTops span {font-size:16px;}
h3.titleTops-h3 {color:#fff;font-family:Arial !important;font-size:14px;left:50%;margin-top:-15px;position:absolute;text-align:center;width:875px;}
#tilePreview {width:220px;height:32px;background:#fff452;text-align:center;}#tilePreview a{display:block;width:220px;height:32px;color:#000;line-height:35px;margin-top:-14px;}
.threesixth {
overflow: visible !important;
transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
}

.skew{-webkit-transform:perspective(300px) rotateX(30deg);-moz-transform: perspective(300px) rotateX(30deg);-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform::perspective(300px) rotateX(30deg);transform-style: preserve-3d;transform:perspective(300px) rotateX(30deg);}
.skew2{-webkit-transform:perspective(200px) rotateX(30deg);-moz-transform: perspective(200px) rotateX(30deg);-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform::perspective(200px) rotateX(30deg);transform-style: preserve-3d;transform:perspective(200px) rotateX(30deg);}
h1, h2, h3, h4, h5, h6 {font-family: "Swiss721BT-Black" !important;}
#WrpopupPrev-box{display:none;height: 302px;width: 272px;background: #283b44;position:absolute;z-index:10;top:308px;left:498px;}
.prevClose{background: url(images/prevclose.png) no-repeat;width:17px;height:17px;position: absolute;z-index: 10;top:8px;right:6px;}
.prevClose a{display:block;width:17px;height:17px;}
.shimclose{background: url(images/shimclose.png) no-repeat;width:17px;height:17px;position: absolute;z-index: 10;top:8px;right:6px;}
.shimclose a{display:block;width:17px;height:17px;}
#WrpopupPrev{height: 250px;width: 250px;margin: 36px auto 0;}
#popupPrev {height: 250px;width: 250px;position: relative;}
.prevHonor {color: #26343D;font-size: 13px;font-weight: normal;margin-left: 25px;padding-top: 15px;text-transform: none;}
.prevName{margin: 0 auto;text-align: left;line-height:20px;width: 250px;}.prevName h2 {color: #00B1CC;font-size: 22px;font-family: "Arial";font-weight: bold;margin-left: 25px;text-transform: uppercase;padding-top:4px;}
.prevCategz {color: #313E47;font-size: 10px;margin-left: 25px;padding: 3px 0 6px;text-transform: uppercase;font-family: "Swiss721BT-Black";}
.prevDates {clear: left;color: #313E47;float: left;font-weight: normal;margin-left: 25px;}
.prevCity {color: #313E47;float: right;font-weight: normal;margin-right: 20px;text-transform: none;}
.prevIconz a{cursor:default !important;}
.prevSocialz {bottom: 4px;clear: both;height: 22px;left: 0;position: absolute;width: 100%;z-index: 2;}
.prevAllgift{color: #4B5E62;float: left;font-size: 12px;line-height: 16px;margin: -15px 0 0 25px;text-align: left;text-transform: none;width: 145px;}
.prevIconz {float: right;margin-right: 20px;}
.popupbg,#today-date {display: none;}#tile-donate-btn a:hover{color:#fff;}
.prevContent{clear: both;color: #26343D;font-size: 11px;line-height: 16px;;position: relative; margin-left: 25px;padding: 8px 0 0;text-transform: uppercase;text-transform: none;width: 208px;word-wrap:break-word;}
#ascrail2000{width:16px !important;background: #26343d !important;}
#ascrail2000 div {background-color:#fff452 !important;width:15px !important;margin: 0 auto !important;border-radius: 0 !important;border: none !important;}
span.tileAttr{padding-right:30px;text-align: left;}
span.tileAttr.first,span.tileAttr.second{width:370px;float:left;}
span.tileAttr.second{padding-right:0}
#block6 .story {min-width: 1200px;width: 1200px;}
/*a#convioz,a#write-tile{display:none;}*/
.shimbg{background: rgba(184, 92, 103, 0.50) !important;}
#block6 .story {margin-top:190px;}
#widget-logo a {display:block;width:322px;height:91px;}
ul.dd-options {height:150px;}
ul.dd-options li a.dd-option {padding: 1px;}
a.dd-selected,span.dd-pointer-down {color: #fff !important;}
.dd-pointer-down{border-color: #fff rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0) !important;}
.dd-pointer{margin-top: 0 !important;}
.dd-selected {padding: 6px 6px 6px 4px !important;}
.tyle:hover{-moz-transition:color 0.1s ease-out;-webkit-transition:color 0.1s ease-out;-o-transition:color 0.1s ease-out;-ms-transition:color 0.1s ease-out;transition:color 0.1s ease-out;}
#searchBox {display:none;position: absolute;z-index: 100;bottom: 33px;left:41px;}
#searchBox2 {display:none;clear:both;}
html.mozyy #searchBox2 {display:block;margin:40px auto 0;width:325px;}
#searchBox input::-webkit-input-placeholder {font-weight: bold;font-size:22px;color: #000;opacity: 1 !important;}#searchBox input:-moz-placeholder {font-weight: bold;font-size:22px;color: #000;opacity: 1 !important;}#searchBox input::-moz-placeholder {font-weight: bold;font-size:22px;color: #000;opacity: 1 !important;}#searchBox input:-ms-input-placeholder{font-weight: bold;font-size:22px;color: #000;opacity: 1 !important;}
#searchBox2 input::-webkit-input-placeholder {font-weight: bold;font-size:22px;color: #000;opacity: 1 !important;}#searchBox2 input:-moz-placeholder {font-weight: bold;font-size:22px;color: #000;opacity: 1 !important;}#searchBox2 input::-moz-placeholder {font-weight: bold;font-size:22px;color: #000;opacity: 1 !important;}#searchBox2 input:-ms-input-placeholder{font-weight: bold;font-size:22px;color: #000;opacity: 1 !important;}
.togHide{display:block !important;}
#block6 .float-left.blank {margin-left:-3%;}
input.focus-in-background{color:#000 !important;}.widget-container-info{font-size:18px;font-weight: bold;}
#ib-content-preview.certificate{width:726px !important;height:606px !important;background: url(images/certificate.jpg) no-repeat;}
#ib-content-preview.certificate .ts-wrapper{width:100%;height:100%;padding-top:128px;}
#ib-content-preview.certificate .ib-content-full {width:676px !important;padding-top: 0 !important;}
#ib-content-preview.certificate .ib-content-full p{color: #333 !important;font-size:13px !important;padding: 1px 0;}
#ib-content-preview.certificate .cstile{width:64px;height:71px;margin: 10px auto 0;}
#ib-content-preview.certificate .ib-teaser {width: inherit !important;text-align: center;}
#ib-content-preview.certificate .ib-teaser h2 {font-size: 42px;padding-top: 10px;max-height: 100px !important;overflow: visible !important;text-transform: capitalize;}
#ib-content-preview.certificate .categz {color:#00B1CC;text-align: center;font-size: 18px;font-weight: bold;margin-top:7px;padding:0;}
#ib-content-preview.certificate a{text-decoration: underline;color: #00B1CC;}
#ascrail2001{display: none !important;}
#step-2 #select-state a:focus, #step-2 #select-country a:focus, #step-2 #select-exp-day a:focus, #step-2 #select-exp-year a:focus{background:#e6ec5d;}
#mobNav{text-align:right;width:100%;position: fixed;z-index: 10000;top:0;display:none;cursor:pointer;}
#logosm a{display:none;float:left;display:block;background: url(images/small-logo.jpg) no-repeat;width:90px;height:24px;margin-left:12px 0 0 2%;}
#next-nav{float:right;text-transform:uppercase;color:#fff;font-size:14px;font-weight:bold;padding-top:12px;}
#mobNav .navbar-toggle{float: right;margin:10px 30px 0 10px;padding:0;position: relative;}
#mobNav .navbar-toggle .icon-bar {background-color: #fff;display: block;height: 2px;margin-top: 4px;width: 22px;}
#mobNav .navbar-collapse.ensb{width:100%;}
#mobNav .navbar-collapse ul {float:right;width:100%;text-align:right;list-style: none;margin: 0;padding: 0;display:none;}
#mobNav .navbar-collapse ul li {display: block;position: relative;width: 100%;clear:both;padding: 15px 0 0;}
.navbar-collapse ul li a {font-weight: bold;background:#26343d;color:#fff;display: block;width:100%;line-height: 20px;margin: 0;padding:10px 30px 10px 0;position: relative;}
.navbar-collapse ul li a:hover{color: #00B1CC;background:#fff;}
.center.blank{margin-left:-4%;}
/*#wrapHeader {background: #30BDD2;height:217px;position: fixed;width: 100%;z-index: 500000;}
#content #nav{z-index:80000000;}
#donation-widget,#content #nav{top:10px !important;}
*/
#nav{z-index:1000000;}
#donation-widget{width:100%;top:0;left:0;height:91px;background-color: #26343d;}
#donation-widget #donation-goal, #donation-widget #amount-donated, #donation-widget #donation-left{background:none;}
#donation-widget #widget-content{margin-top:20px;}
.widget-container-info{color:#fff;}
#donation-widget #widget-donate a#donateClk.bigz{margin:0 20px 0 0;background: url("/wp-content/themes/spectrum-parallax-blog/images/donate-new.png") no-repeat;width:120px;height:91px;}
#donation-steps.ligz{background:none;border-left: 1px solid #00B1CC;border-right: 1px solid #00B1CC;font-size:14px;padding-top:17px;height: 91px;margin: 0 20px 0 0;width: 120px;}
#donation-widget #widget-logo{margin:0 25px 0 34px;}
#back-button.midz { position:absolute;width:50%;right:0;top:0;margin:2px 0 0 !important; height:30px; text-indent:-9999px;background-color: #fff452;}
#back-button.midz a{background:url("/wp-content/themes/nya/images/donation.back.btn2.png") no-repeat scroll 50% 1%;height:30px;width:100%;margin:7px 0 0 !important;}
#content #nav li a{width:12px;height:12px;color:#fff;}
.mobiz{display:none;}
.listWrapper{width:100%;}
ul.listCenter{color: #fff;font-family: Arial !important;font-size: 14px;margin:40px auto 0 auto;text-transform: uppercase;width: 540px;padding-left:40px;}
#block6 .float-left.blank {width:100%;}
#block6 h3.titleTops-h3 {width:100%;position:relative;margin:0;left:auto;font-weight:bold;}
#block6 h2.titleTops {width:100%;position:relative;left:auto;top:0;line-height:56px;}


@media screen and (-webkit-min-device-pixel-ratio: 0){
#content #nav #blockLink1 a {padding-left: 147px !important;}
#content #nav #blockLink5 a {padding-left: 135px !important;}
#content #nav #blockLink6 a {padding-left: 50px !important;}
#content #nav #blockLink7 a {padding-left: 110px !important;}
}
#content ul.listCenter li {float:none;font-weight:bold;text-transform:none;}
@media only screen and (min-width : 1px) and (max-width : 1150px) {
#donation-widget #widget-logo,#donation-widget #widget-donate a{margin:0;}
#content #nav{right:22px !important;}
#links-vertical-connector{right:39px;}
}
@media only screen and (min-width : 1px) and (max-width : 1024px) {
ul#nav,#links-vertical-connector,#mission-block-container #text-top #arrow-down,#mission-block-container #text-top h3{display:none;}
#mobNav{display:block;}
#donation-widget{width:100%;left:0;top:0;height:inherit !important;}
#donation-widget #widget-logo{width:100%;background: #26343d url(images/mobile/mob-logo.png) no-repeat 50% 50px;height:inherit !important;padding-top: 40px;}
#widget-logo a{width: 100%;}
#donation-steps{width:50%;}
#donation-widget #widget-donate{float:left;clear:both;width:100%;}
#donation-widget #widget-donate a#donateClk{width:100%;background: #fff452 url(images/mobile/mob-donate.jpg) no-repeat 50% 10px;height:40px !important;padding-bottom: 10px;}
#donation-widget #widget-content{clear:both;width:100%;}
#static-background {top:90px;background-size: 100% auto;background-position: 50% 22% !important;}
#content{top:47px;}
#content #block1 #text-top h1, #content #block1 #text-bottom h1,#donation-info h1{font-size:54px;line-height:54px;}
#content #block1 #text-top h2,#mission-block-container #text-bottom h2 {font-size: 26px;margin-bottom: 85px;line-height:26px;}
#donation-info h2{font-size:26px;line-height:26px;}
#content #block1 #text-top h3{font-size: 22px;}
.story, .inside,#mission-block-container,.storycenter div.bg1[style], .story .center,#block9 .story,#block10 .float-left.blockText,#block5 .story, #block5 .inside, #block5 .storycenter div.bg1[style], #block5 .story .center,#block5 .center.blank{width:100% !important;max-width:100% !important;padding:0;}
#block9 .story .center.blockText {}
#mission-block-container #text-top{margin-top:279px;}
.center.blank{margin:0;padding:0;}
#content.postshome .post, #content.postshome .page{padding:0;}
.secondary p.left, .secondary p.right, #socialNetworks{text-align:left !important;}
#mission-block-container #text-top {height: 460px;}
#content.postshome .post, #content.postshome .page {min-height: 752px !important;}
#donation-info h1,#donation-info h2{padding:0 3%;}
#donation-info h2{margin-top: 80px;line-height: 30px;}
#donation-info{margin-top: 100px;}
#block6{height:770px;margin-left:-8px;}
#block6 .story {margin-top:40px;}
#block6 .float-left.blank{margin-left:0;}
#block6 .story,#mast,#block6 .story .float-left {min-width: 100% !important;width:100% !important;}
#block5 .story, #block5 .inside, #block5 .storycenter div.bg1[style], #block5 .story .center{min-width: 100% !important;width: 100% !important;padding:0% !important;margin-left:0;}
#donation-container{width: 100%;margin:20px 0 0;padding-bottom:1%;float:left;height:auto !important;}
#donation-body .selection{margin:0 0 2px 0;width:100%;height:60px;position:relative;}
#donation-body .donation-content{ position: relative;top: -69px;width: 100%;}
#donation-body .selection a{position: relative;top: -9px;z-index: 50;}
#donation-body .donation-amount.other p{position:static !important;display: block;margin:0;width:auto;}
#block8 .float-left.blank{height: 0;margin-bottom: 25px;overflow: hidden;padding-bottom: 56.25%;padding-top: 35px;position: relative;width: 100% !important;}
#block8 .float-left.blank iframe{height: 100%;left: 0;position: absolute;top: 0;width: 100% !important;}
#block7 #content.postshome .post, #block7 #content.postshome .page {width:100 !important;}
#block7 .story{min-width: 100% !important;width:100% !important;}
#block7 .float-left.blank{width:100% !important;}
#block7 #explore-further{width:100%;height:auto;}
#explore-further #explore-further-container .content p{clear:both;width:100%;}
#block7 #explore-further #wall-video{margin:0 0 12px;display:block !important;float:none !important;height: 0 !important;margin-bottom: 25px;overflow: hidden;padding-bottom: 56.25%;padding-top: 35px;position: relative !important;width: 100% !important;}
#block7 #explore-further #wall-video iframe{height: 100%;left: 0;position: absolute;top: 0;width: 100% !important;}
#header, #footer .main, #footer .secondary, .pagination{width:100% !important;}
#socialNetworks a{margin:0 -3px 0 0;}
#footer{z-index:1000 !important;display:none;}
#socialNetworks{margin:0;}
#footer,#explore-further-discover, #explore-further-find-out{width:100% !important;max-width:1024px;}
#footer a img{width: 33%;}
#block9 .story{padding:0 !important;}
#explore-further-discover{margin-top: 0;}
#explore-further-donate{width:100%;margin-top:15%;}
#explore-further-donate a{background-size: 100% auto;display: block;width: 100%;margin:0 0 200px 0;}
#donation-info #donate-now-button{background-size: 100% auto;display: block;margin: 50px auto;float:none !important;}
#explore-further-find-out{margin:40px 0 0 !important;}
#donation-info{width:100% !important;}
#content #block1 {height: 1020px;max-height: 1020px;min-height: 1020px !important;}
.secondary p.left, .secondary p.right, #socialNetworks{padding:0 !important;}
#footer .left{position: absolute;bottom:90%;left:3%;margin:0;}
#next a{}
#donation-body{padding-top:20px;}
#donation-body .donation-amount.other{padding:18px 0 0 0;}
.donation-content.other #donation-body .donation-amount{padding-left: 0;text-align:center;padding-top:0;}
#donation-body #step-1 .oval,#donation-body #step-1 .oval.selected, #donation-body #step-1 .oval:hover { background: none; width:100%; }

#wrapHeader {background: none;height:auto;position: static;width:auto;}
#block2{background-image:none !important;}
#block2{background:url(images/portico1.jpg) no-repeat !important;background-size:100% !important;background-color:#EDEFE8 !important;}
#content.postshome #block2.post, #content.postshome #block2.page {height: 100% !important;min-height: 100% !important;padding-bottom: 106%;}
#block3{background-image:none !important;}
#block3{background:url(images/portico2.jpg) no-repeat !important;background-size:100% !important;background-color:#EDEFE8 !important;}
#content.postshome #block3.post, #content.postshome #block3.page {height: 100% !important;min-height: 100% !important;padding-bottom: 140%;}
#block4{background-image:none !important;}
#block4{background:url(images/portico3.jpg) no-repeat !important;background-size:100% !important;background-color:#EDEFE8 !important;}
#content.postshome #block4.post, #content.postshome #block4.page {height: 100% !important;min-height: 100% !important;padding-bottom: 140%;}
#donation-body .donation-amount.other input{margin-top:8px;}
#step-5{margin-top:-8px;}
#step-5 .section-bottom .user-info input{margin-left:0;}
.deskie{display:none;}
.mobiz{display:block;}
#footer a img {float: left;width: 33%;margin-right: 0.2%;}
#footer .left, #footer .left a{color:#fff;}
.story .float-left, .story .float-right, .story .center{width:100%;}
#next a.personalize-tile{}
#step-5 .section-container,#step-5 .user-info input,#step-5 .section-bottom .user-info input{width:100%;}
#step-5 .section-container .section-top,#step-5 .section-container .section-bottom {margin-left: 3%;width: 92%;}
#step-5 .section-container .section-bottom > .user-info{margin-top:-16%;}
#step-5 .section-bottom p{margin-left: 0;}
#step-2 .user-info.cc-type > div{width:100%;}
#step-2 #select-exp-year label{margin:0;}
#next{width:100%;margin:0 auto;float:left;}
#next a.personalize-tile {}
#donation-body #step-5 .oval{width:21px;height:40px;}
#donation-body #step-5 .selection{margin-top:17px;height:auto !important;}
#donation-body #step-5 .selection a {top:0;}
#next a.complete-tile{margin-left:31%;}
#WrpopupPrev-box{left:50%;margin-left:-136px;top:30%;}
#view-your-tile{margin-left:6%;}
#step-6{padding-top:12px;}
#step-6 .section-container{padding:0 2%;}
.animalIconBar,.colourBar,#step-6 .text-area-message{width:100%;}
#donation-header{height:auto !important;padding:7px 0;}
#donation-header h1{padding:10px 0 0 0 !important;}
#back-button a{width:318px;margin-left:34%;}
#mast{margin-left:0 !important;}
#results2{width:98%;margin-left:-49%;}
ul#newList2{width:100%;}
#content ul#newList2 li{padding:0 0 0 9%;}
span.tileAttr.first, span.tileAttr.second{width:48%;}
#content ul li{padding-left:0;margin:0;}
}

@media only screen and (min-width : 1px) and (max-width : 825px) {
#step-2 .left-container, #step-2 .right-container{margin-left:7%;}
#step-6 .left-container, #step-6 .right-container{margin:0;clear:both;width:100%;}
#step-6 #preview-tile{clear:both;margin-top:1%;}
#next a.complete-tile{margin-left:27%;}
#back-button a{margin-left:30%;}
#content ul#newList2 li{padding:0 0 0 5%;}
span.tileAttr.first, span.tileAttr.second{font-size:15px;}
#view-your-tile{margin-left:3%;}
}

@media only screen and (min-width : 1px) and (max-width : 800px) {
.post, .page {background-attachment: scroll;}
.parallax-container {background-position: center top;}
#content.postshome .post, #content.postshome .page {min-height: 685px !important;}
#step-2 .left-container, #step-2 .right-container{width:36%}
#step-2 #select-exp-day{width:63px !important;}
#step-2 #select-exp-year{margin-left:21% !important;}
#view-your-tile{margin-left:1%;}
}
@media only screen and (min-width : 1px) and (max-width : 769px) {
#footer .left{margin:-23px 0 0;padding-top:12px;clear:both;width:100%;}
#block5, #block9, #block10{background-size: 100% auto;background-position: 50% 10% !important;}
#mission-block-container #text-top {height: 340px;}
#donation-header{height:auto;}
#donation-header h1{font-size: 26px;padding:15px 0 10px;}
#donation-header h2{font-size:14px;padding-bottom: 12px;}
#explore-further-discover, #explore-further-find-out{font-size:38px;}
#explore-further-discover{margin-top: -12%;}
#content ul#newList2 li{padding:0 0 0 2%;}
#step-2 .left-container{margin-left:12%;}
#back-button a{margin-left:27%;}
#mast{margin-left:-4%;}
#view-your-tile,#donate-another{margin-left:23%;}
}
@media only screen and (min-width : 1px) and (max-width : 705px) {
#step-2 .left-container{margin-left:2%;}
#step-2 #select-exp-year{width:30% !important;}
span.tileAttr.first, span.tileAttr.second{font-size:13px;}
#view-your-tile,#donate-another{margin-left:20%;}

}
@media only screen and (min-width : 1px) and (max-width : 675px) {
#step-2 #select-state .dd-select, #step-2 #select-country .dd-select{width:120px !important;}
#step-2 #select-exp-day .dd-select, #step-2 #select-exp-year .dd-select{width:56px !important;}
#step-2 #select-exp-year{margin-left:20%;}
#donation-container.moheight.moheight2{height:800px !important;}
#step-2 .left-container, #step-2 .right-container,.user-info{width:100%;clear:left;}
#step-2 .user-info input{width:96% !important;}
#step-2 #select-state, #step-2 #select-country,#step-2 #select-state .dd-select, #step-2 #select-country .dd-select{width:98% !important;}
#step-2 .left-container, #step-2 .right-container{margin-left:2%;}
#step-2 #select-exp-day .dd-select, #step-2 #select-exp-year .dd-select{width:64px !important;}
#step-2 #select-exp-year{margin:-53px 0 0 11% !important;}
#step-2 .user-info .cvv{width:64px !important;}
#content.postshome #block5.post, #content.postshome #block5.page{min-height:700px !important;}
#content.postshome #block5.post.boheight, #content.postshome #block5.page.boheight{min-height:1000px !important;}
#donation-body .donation-amount.other input{margin:8px 0 0 3%;}
#step-2 #select-state .dd-options, #step-2 #select-country .dd-options, #step-2 #select-exp-day .dd-options, #step-2 #select-exp-year .dd-options{width:98% !important;}
#step-2 #select-exp-year .dd-options{width:63px !important;}
#next a.complete-tile{}
#view-your-tile{}
}
@media only screen and (min-width : 1px) and (max-width : 640px) {
#content #block1 #text-top h1, #content #block1 #text-bottom h1,#donation-info h1{font-size:44px;line-height:44px;}
#content #block1 #text-top h2,#mission-block-container #text-bottom h2 {font-size: 20px;line-height:20px;}
#donation-info h2{font-size:20px;line-height:20px;}
#content #block1 #text-top h3{font-size: 16px;}
#mission-block-container #text-top{margin-top:254px;}
#content.postshome .post, #content.postshome .page {min-height: 300px !important;}
#donation-body{padding-top: 0;}
#donation-body .donation-content{width:87%;}
#donation-body .donation-reference{padding:20px 12px 0 12px;text-align:left;}
#donation-body .donation-content.other .donation-info {margin-left:16%;}
#donation-body .donation-info, #donation-body .donation-info-other{clear:left;margin:-61px 0 0 16.5%;padding:0 0 8px 0 !important;}
#donation-body .donation-amount{height: 100px;padding:38px 0;text-align:center;}
#donation-body .donation-content{clear:left;width:100%;}
#explore-further-discover, #explore-further-find-out{font-size:26px;}
#explore-further-find-out{margin:0 !important;}
#block7{padding-bottom:50px !important;}
#donation-body .selection,#donation-body .oval, #donation-body .oval.selected, #donation-body .oval:hover,#donation-body .donation-amount{height:90px;}
#donation-body{margin-top: 0;}
#donation-body .selection a{top:20px;display:inline-block;float:left;}
#donation-body .donation-info, #donation-body .donation-info-other{margin-top:-55px;}
#content.postshome #block5.post, #content.postshome #block5.page{min-height:745px !important;}
#donation-container{padding-bottom:10%;}
#back-button a{margin-left:22%;}
#step-6 .section-container{margin:0 auto;}
#step-3 #post-transaction{margin-top:20px;}
#view-your-tile,#donate-another{margin-left:15%;}
#step-7 #social-icons-tiles {padding:0 8%;}
}

@media only screen and (min-width : 1px) and (max-width : 606px) {
#next a{}
#donation-header h1{font-size:20px;}
#explore-further #explore-further-container .header h2{font-size:16px;padding-top:16px;}
#donation-container{padding-bottom:7%;}
#next {margin: 0;width: 100%;}
#next a.complete-tile{margin-left:15%;}
}
@media only screen and (min-width : 1px) and (max-width : 520px) {
#step-2 #select-exp-year {margin: -52px 0 0 16% !important;}
}

@media only screen and (min-width : 1px) and (max-width : 510px) {
#content #block1 #text-top h1, #content #block1 #text-bottom h1,#donation-info h1{font-size:34px;line-height:34px;}
#content #block1 #text-top h2,#mission-block-container #text-bottom h2 {font-size: 22px;line-height:22px;}
#donation-info h2{font-size:22px;line-height:22px;}
#content #block1 #text-top h3{font-size: 15px;}
#mission-block-container #text-top{margin-top:254px;}
#content #block1 #text-top h1 {margin-bottom: 60px;}
#block5{height: 622px;}
#mast{margin-left:-3%;}
#explore-further h1{font-size:30px;}
#explore-further #explore-further-container .header h2{font-size:16px;line-height:18px;padding:2%;}
#explore-further-discover{margin-top:-41%;}
#explore-further-find-out{margin-top:150px;}
#next a{}
#next a.complete-tile{margin-left:10%;}
#back-button a{margin-left:17%;}
.ib-content-preview{width:320px !important;height:320px !important;}
.ts-wrapper{width:320px;height:320px;}
.shimclose{right:22px;}
.iconz{margin-right:26px;}
#explore-further-donate a{-ms-transform: scale(0.8);-webkit-transform: scale(0.8);transform: scale(0.8);}
#next a, #donation-info #donate-now-button {-ms-transform: scale(0.7);-webkit-transform: scale(0.7);transform: scale(0.7);}
#next a {margin:-9px auto 0 auto;}
#block9{margin-bottom:50px !important;}
#content.postshome #block6.post{padding:0 !important;}
}
@media only screen and (min-width : 1px) and (max-width : 440px) {
#next a{}
#donation-body .selection, #donation-body .oval, #donation-body .oval.selected, #donation-body .oval:hover, #donation-body .donation-amount{height:125px;}
#donation-body .donation-info, #donation-body .donation-info-other {margin-top: -68px;}
#donation-body .donation-content{top:-85px;}
#content.postshome #block5.post, #content.postshome #block5.page {min-height: 860px !important;}
#donation-body{margin-top: 0px;}
#donation-body .selection a{top:0;}
#donation-body .donation-amount{width:16%;}
#donation-body .donation-content{top:-125px;}
#donation-body .donation-info, #donation-body .donation-info-other{margin-top:-87px;margin-left:19.5%;}
#donation-body .donation-content.other .donation-info{margin-left:19.5%;margin-top:-106px;}
#donation-body .donation-amount.other p{font-size:10px;}
#step-2 #select-exp-year {margin: -52px 0 0 19% !important;}
#next a.complete-tile{margin-left:4%;}
#back-button a{margin-left:11%;}
#view-your-tile,#donate-another{margin-left:3%;}
#step-7 #social-icons-tiles {padding:0 3%;}
}
@media only screen and (min-width : 1px) and (max-width : 400px) {
#content #block1 #text-top h1, #content #block1 #text-bottom h1,#donation-info h1{font-size:24px;line-height:24px;}
#content #block1 #text-top h2,#mission-block-container #text-bottom h2 {font-size: 15px;line-height:15px;}
#donation-info h2{font-size:15px;line-height:20px;padding:0 10px;}
#content #block1 #text-top h3{font-size: 13px;}
#mission-block-container #text-top{margin-top:240px;}
#mast{margin-left:-2%;}
#explore-further-find-out{margin-top:470px;}
#explore-further-discover, #explore-further-find-out{font-size:22px;padding:0 10px;}
#next a{}
#step-2 .user-info input, #step-2 #select-state, #step-2 #select-country, #step-2 #select-state .dd-select, #step-2 #select-country .dd-select{font-size:11px;}
#step-2 .user-info label{font-size:11px;}
/*#donation-header h1{font-size:14px;}*/
/*#step-2 #select-exp-year {margin: -52px 0 0 27% !important;}*/
#next a.complete-tile{width:379px;margin:0 auto;float:none;display:block !important;}
#footer .left{font-size:8px;}
#donation-body .donation-amount.other input{width:45px;}
#view-your-tile{margin-left:3%;}
}

@media only screen and (min-width : 1px) and (max-width : 370px) {
html.mozyy #searchBox2{width: 275px !important}
#content.postshome #block5.post, #content.postshome #block5.page {min-height: 900px !important;}
#next a.complete-tile{margin-left:0;}
#back-button a{margin-left:0;}
input#searchTerm2{width:243px !important;}
}
@media only screen and (min-width : 1px) and (max-width : 320px) {
#block5 .story, #block5 .inside, #block5 .storycenter div.bg1[style], #block5 .story .center{margin-left:-1%;}
#footer .left{font-size: 8px;}
#back-button a{margin-left:0;}
#view-your-tile{margin-left:0;}

}
@media only screen and (min-device-width : 1px) and (max-device-width : 1024px) {
#logosm {margin:6px 0 0 2% !important;}
#logosm a{margin:0;}
#menuMob{display:inline-block;margin-top:-12px;}
#mobNav{background:#26343D;height:36px;position: fixed;z-index:100000;}
.shimbg{background:#666 !important;}
html.mozyy #searchBox2 {display:block;margin:0 auto;width:57% !important;}
#mast{margin-left:-1%;}
#results, #results2{top:10% !important;}
input#searchTerm, input#searchTerm2{border-radius: 0 !important;}
#content{top:-2px;}
#mobNav .navbar-collapse ul{margin-top:-7px;}
span.tileAttr.first, span.tileAttr.second{width:50%;}
ul#newList2{width:73%;}
.ib-main div.tyle img{opacity:1 !important;}
.ts-wrapper{z-index:1000000000000;}
#donation-widget{top:-47px;position:absolute;}
#block6 .story .float-left, #block6  .story .float-right, #block6  .story .center{padding:0 !important;}
.dbb{position:fixed !important;top:35px !important;}
.dbb a {background: url("images/mobile/mob-donate.jpg") no-repeat scroll 50% 10px #FFF452;height: 40px !important;padding-bottom: 10px;width: 100%;}
#mobNav{width:100%;}
#results, #results2{margin-left:-50%;left:50%;width:100%;}
#block6 .story, #mast, #block6 .story .float-left{min-width:500px !important;width:500px !important;}
h2.titleTops{font-size:22px;line-height: 30px !important;margin:40px  0 10px 0 !important;}
h3.titleTops-h3{font-size:12px;line-height: 20px;}
html.mozyy #searchBox2{width: 275px !important;margin:0 auto !important;}
input#searchTerm2{width:243px !important;}
#content ul.listCenter li {font-size: 14px;width:550px;margin:0 0 0 7% !important;line-height: 18px;}

}
@media only screen and (min-device-width : 1px) and (max-device-width : 1024px) and (orientation : landscape) { 
#accordion{top:15%;padding:7% 3% 1%;}
#accordion p{margin:5px 0;}
.ui-accordion .ui-accordion-content{height:170px !important;}
h2.titleTops{font-size:22px;line-height: 30px !important;margin:10px  0 10px 0 !important;}
}

@media only screen and (min-device-width : 1px) and (max-device-width : 480px) {
.ib-main div.tyle{margin-bottom:-22px;}
/*#block6 .story, #mast, #block6 .story .float-left,.ib-main-wrapper,#mast {min-width: 300px !important;width: 300px !important;margin:0 auto;}*/
#ib-content-preview{min-width: 300px !important;width: 300px !important;margin:0;top:10%;}
.ib-main-wrapper,#mast{height: 270px !important;}
.ts-wrapper{z-index:1000000000000;width:300px !important;}
.ib-main div.tyle img{opacity:1 !important;}
.ib-content-full p{width:280px !important;}
.shimclose{right:10px;}
.iconz{margin-right:10px;}
#block6 .story, #mast, #block6 .story .float-left{min-width:200px !important;width:200px !important;}
#content ul.listCenter li {font-size: 11px;width:300px;margin:0 !important;line-height: 18px;}
html.mozyy #searchBox2{width: 225px !important;margin-left: -15px !important;}
input#searchTerm2{width:193px !important;}
#content ul.listCenter{padding-left:0;width:200px;margin: 30px 0 0 -46px !important;}
.ib-content-preview{left:0% !important;margin-left: 0 !important;}
}